*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux*.log
*.aux
*.log
